.icon-bar {
    width: 100%; 
    background-color: white; 
    overflow: auto; 
}

    .icon-bar a {
        float: left;
        text-align: center;
        width: 20%;
        padding: 12px 0;
        color: dimgrey;
        font-size: 120%;
        text-decoration: none;
    }


        .icon-bar a:hover {
            background-color: #d4d0d0;
            text-decoration: none;
        }


.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
    background: #D6E9FE;
}

.flex-container {
    list-style: none;
    display: flex;
}

.column {
    -webkit-flex-direction: column;
    flex-direction: column;
    float: left;
    width:100%;
}

.rowflex {
    flex-direction: row;
    direction:ltr;
    flex-wrap: wrap;
    display:flex;

}

#background {
    padding: 40px;
    top: 0;
    background-color: #000;
    width: -webkit-fill-available;
    margin-top: 70px;
    z-index: -1;
    position: absolute;
}

#container {
    width: 100px;
    height: 100px;
    position: relative;
}
