.icon-bar {
    width: 100%; 
    background-color: white; 
    overflow: auto; 
}

    .icon-bar a {
        float: left;
        text-align: center;
        width: 20%;
        padding: 12px 0;
        color: dimgrey;
        font-size: 120%;
        text-decoration: none;
    }


        .icon-bar a:hover {
            background-color: #d4d0d0;
            text-decoration: none;
        }

        


.flex-container {
    list-style: none;
    display: flex;
}

.column {
    -webkit-flex-direction: column;
    flex-direction: column;
    float: left;
}


